<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <table>
        <thead>
            <th> Productos </th>
            <th> Cantidad </th>
        </thead>

        <tbody>
            <% for(let i=0;i<Productos.lenght;i++){ %>
                <tr>
                    <td>
                        <%= Productos[i].nombre %>
                    </td>
                    <td>
                        <%= Productos[i].cantidad %>
                    </td>
                </tr>

                <%}%>
        </tbody>

    </table>

</body>

</html>